{% if site.htb_badge_no %}
<div style="text-align: center; margin-bottom: 10px;">
  <a href="https://www.hackthebox.com/user/{{ site.htb_badge_no }}" target="_blank">
    <img src="https://www.hackthebox.com/achievement/badge/{{ site.htb_badge_no }}/215" alt="Hack The Box Badge" style="border-radius: 8px; box-shadow: 0 4px 12px rgba(0, 255, 0, 0.4); width: 150px;">
  </a>
</div>
{% endif %}

<!-- Logo o título del sitio -->
<div class="site-title">
  <a href="{{ site.baseurl }}/">
    ./{{ site.title }}
  </a>
</div>

<!-- Navegación -->
<small class="nav-main d-flex justify-content-center">
    {% for dir in site.data.dirs %}
    <a href="{{ '/' | relative_url }}{{ dir }}">{{ dir | capitalize }}</a>
    {% if dir != site.data.dirs.last %}
    &nbsp;<span style="color: #b5e853;">|</span>&nbsp;
    {% endif %}
    {% endfor %}
</small>
